<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gocd-powershell-runner" version="1">
    <about>
        <name>Powershell Task Plugin</name>
        <version>1.2</version>
        <target-go-version>14.1.0</target-go-version>
        <description>
            Task to run Powershell based builds
        </description>
        <vendor>
            <name>manojlds</name>
            <url>www.stacktoheap.com</url>
        </vendor>
        <target-os>
            <value>Linux</value>
            <value>Mac OS X</value>
            <value>Windows</value>
        </target-os>
    </about>
</go-plugin>
