<div class="form_item_block">
  <label>Bitness:<span class="asterisk">*</span></label>
  <select ng-model="Bitness" style="float: left;" ng-required="true">
    <option value="">-- Choose Bitness --</option>
    <option value="x86">x86</option>
    <option value="x64">x64</option>
  </select>
  <span class="form_error" ng-show="GOINPUTNAME[Bitness].$error.server">{{ GOINPUTNAME[Bitness].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Script (.ps1 file):<span class="asterisk">*</span></label>
    <input type="text" ng-model="File" ng-required="true">
    <span class="form_error" ng-show="GOINPUTNAME[File].$error.server">{{ GOINPUTNAME[File].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Script execution mode:<span class="asterisk">*</span></label>
    <select ng-model="Mode" style="float: left;" ng-required="true">
        <option value="">-- Choose mode --</option>
        <option value="File">Pass the script to Powershell using -File argument</option>
        <option value="Command">Put the script into Powershell stdin using -Command - argument</option>
    </select>
    <span class="form_error" ng-show="GOINPUTNAME[Mode].$error.server">{{ GOINPUTNAME[Mode].$error.server }}</span>
</div>
<div class="form_item_block" ng-show="Mode == 'File'">
    <label>Arguments to script:</label>
    <textarea ng-model="ScriptParameters" wrap="off" style="width: 250px; resize: both;" cols="58" autocomplete="off"></textarea>
</div>
<div class="form_item_block">
    <label>Additional options:</label>
    <div class="checkbox_row">
        <input id="noprofile2" type="checkbox" ng-model="NoProfile2" ng-init="NoProfile2 = NoProfile" ng-change="NoProfile = NoProfile2" ng-true-value="true" ng-false-value="false">
        <input id="noprofile" type="hidden" ng-model="NoProfile" value="{{NoProfile}}">
        <label for="noprofile">Add -NoProfile to skip loading the profile</label>
    </div>
    <div class="checkbox_row">
        <input id="bypass2" type="checkbox" ng-model="Bypass2" ng-init="Bypass2 = Bypass" ng-change="Bypass = Bypass2" ng-true-value="true" ng-false-value="false">
        <input id="bypass" type="hidden" ng-model="Bypass" value="{{Bypass}}">
        <label for="bypass">Bypass execution policy</label>
    </div>
    <div class="checkbox_row">
        <input id="nologo2" type="checkbox" ng-model="NoLogo2" ng-init="NoLogo2 = NoLogo" ng-change="NoLogo = NoLogo2" ng-true-value="true" ng-false-value="false">
        <input id="nologo" type="hidden" ng-model="NoLogo" value="{{NoLogo}}">
        <label for="nologo">Start Powershell without logo</label>
    </div>
</div>
<div class="form_item_block">
    <label>Other parameters to powershell.exe:</label>
    <textarea ng-model="Parameters" wrap="off" style="width: 250px; resize: both;" cols="58" autocomplete="off"></textarea>
</div>