<div class="form_item_block">
  <label>Bitness:<span class="asterisk">*</span></label>
  <select ng-model="Bitness" style="float: left;">
    <option value="">-- Choose Bitness --</option>
    <option value="x86">x86</option>
    <option value="x64">x64</option>
  </select>
  <span class="form_error" ng-show="GOINPUTNAME[Bitness].$error.server">{{ GOINPUTNAME[Bitness].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Script (.ps1 file):<span class="asterisk">*</span></label>
    <input type="text" ng-model="File"></input>
    <span class="form_error" ng-show="GOINPUTNAME[File].$error.server">{{ GOINPUTNAME[File].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Script execution mode:<span class="asterisk">*</span></label>
    <select ng-model="Mode" style="float: left;">
        <option value="">-- Choose mode --</option>
        <option value="File">Pass the script to Powershell using -File argument</option>
        <option value="Command">Put the script into Powershell stdin using -Command - argument</option>
    </select>
    <span class="form_error" ng-show="GOINPUTNAME[Mode].$error.server">{{ GOINPUTNAME[Mode].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Additional options:</label>
    <div class="checkbox_row">
        <input id="noprofile" type="checkbox" ng-model="NoProfile" ng-true-value="true" ng-false-value="false">
        <label for="noprofile">Add -NoProfile to skip loading of the profile</label>
    </div>
    <div class="checkbox_row">
        <input id="bypass" type="checkbox" ng-model="Bypass" ng-true-value="true" ng-false-value="false">
        <label for="bypass">Bypass execution policy</label>
    </div>
    <div class="checkbox_row">
        <input id="nologo" type="checkbox" ng-model="NoLogo" ng-true-value="true" ng-false-value="false">
        <label for="nologo">Start Powershell without logo</label>
    </div>
</div>
<div class="form_item_block">
    <label>Other parameters to powershell.exe:</label>
    <input type="text" ng-model="Parameters"></input>
</div>